<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".utils.FacilitoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_main2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main2"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacilitoApp">
        <activity
            android:name=".RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterHostingActivity"
            android:exported="false"
            android:label="@string/title_activity_register_hosting"
            android:theme="@style/Theme.FacilitoApp" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ChatConversationActivity"
            android:exported="false" />
        <activity
            android:name=".MyRequests"
            android:exported="false" />
        <activity
            android:name=".VerPerfil"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".NotificacionItem"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".Reviews"
            android:exported="false" />
        <activity
            android:name=".ReviewItem"
            android:exported="false" />
        <activity
            android:name=".SolicitarServicio"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>